*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: black;
    margin: 0 auto;
}
.header{
    width: 1273px;
    height: 70px;
    margin: 0 auto;
}

.nav{
    width: 100%;
    height: 100%;
    background-color: #272C3D;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25.40px;
}

.ul2{
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.input{
    width: 241.8699951171875px;
    height: 30px;
    background-color: #404864;
    border: none;
}

.select{
    width: 165.49000549316406px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #00000080;
    color: #FFFFFFCC;
}
.select option{
    font-weight: 400;
    font-size: 14px;
    background-color: #00000080;
}

.ul1 li:hover{
    transition: all 1s;
    color: #FF9C28;
}

.headerimg{
    margin: 0 auto;
    width: 1273px;
    height: 554px;
    background: url(Bg.png);
}

.section1{
    width: 1189px;
    height: 399px;
    margin: 0 auto;
}

.section1 h2{
    color: #FFFFFF;
    text-align: center;
    padding-top: 45px;
}

.secdiv{
    display: flex;
    justify-content: space-evenly;
    gap: 41px;
    padding-top: 5.22px;
}

.section2{
    width: 1189px;
    height: 928px;
    margin: 0 auto;
    display: flex;
    background-color: #1B1E27;
    padding-top: 61px;
    flex-wrap: wrap;
}

.main h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: white;
    text-align: center;
}

.main{
    width: 740px;
    height: 298px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 17px;
    align-items: end;
}

.card{
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

.mainimg{
    width: 400px;
    height: 234px;
}
.card p{
    font-weight: 400;
    font-size: 14px;
    color: #BFBFBF;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #272C3D;
    width: 1273px;
    height: 70px;
    margin: 0 auto;
}
.footer ul{
    display: flex;
    gap: 25px;
    padding:20px 0  20px 25px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    align-items: center;
}
.footer ul li:hover{
    color: #FF9C28;
    transition: all 1s;
}